.user-table-container {
    padding: 0px,0px,20,0px;
    height: calc(100vh - 170px); /* Full viewport height minus 100px */
  overflow-y: auto; /* Scroll vertically if content overflows */
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f0f0f0;
  }
  
  .user-table tr:hover {
    background-color: #f9f9f9;
  }
  