.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
  height: 110;
}

.left-block {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}

.cart-item-checkbox {
  transform: scale(1.4);
  cursor: pointer;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #eee;
  background: #fafafa;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.product-name {
  font-weight: 600;
  font-size: 1rem;
  padding-right: 10px;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.remove-btn {
   width: 25px;
   padding-right: 30px;
  background: transparent;
  border: none;
  color: #999;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: right;
}
.variant {
  font-size: 0.85rem;
  color: #666;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #e53935;
}

.old-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #999;
}

.save-amount {
  font-size: 0.85rem;
  color: #e53935;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  min-width: 70px;
}






/* Responsive part */
@media (max-width: 480px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-block {
    width: 100%;
  }

  .product-name {
    max-width: 100%;
  }

  .right-block {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}

.price-qty-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* width: 250px; */
}

.price-section {
  /* display: flex;
  align-items: center; */
  gap: 8px;
}

.current-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #e53935;
}

.old-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #999;
}

.quantity-controls-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
  background: #fff;
  height: 32px;
}

.qty-btn {
  padding: 0px 14px 16px;
  /* font-weight: bold; */
  font-size: 20px;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #333;
  line-height: 1;
}

.qty-value {
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  line-height: 1;
}

.out-of-stock-text {
  color: red;
  font-size: 0.85rem;
  font-weight: 500;
}