
.cart-page {
  /* padding-top: 100px; */
}

.contain-cart-page{
  /* padding-bottom: 200px; */
  /* height: 100vh; পুরা স্ক্রিন */
  /* box-sizing: border-box; */
  /* overflow-y: auto; */
} 

.select-all-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;
    font-size: 16px;
  }
  
  .select-all-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
.checkout-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  position: fixed; /* এটা দিলে always bottom এ থাকবে */
  bottom: 55px;
  left: 0;
  right: 0;
  z-index: 100;

}
  
  .total-amount {
    padding: 12px 20px 20px ;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e53935;
}

.checkout-cart-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
}
  
  .checkout-cart-btn:hover {
    background-color: #155ab6;
  }
  /* kkkk */