/* .search-results-container {
    padding: 20px;
  }
  
  .search-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .product-card {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
  }
   */